.header__container {
  width: 1440px;
  height: 85px;
  padding: 15px 135px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: rgba(243, 251, 246, 1);
  background-size: 100%;
  // position: fixed;
  // margin: 0 auto;
  // left: 123px;

  .logo {
    width: 173px;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 40px;
  }
  .header-div {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  a {
    text-decoration: none;
  }
  .sign {
    gap: 6px;
    display: flex;
    align-items: center;
    a {
      font-family: "Poppins";
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color: rgba(51, 51, 51, 1);
      &:hover {
        color: orange;
      }
    }
  }
  .header__btn {
    width: 190px;
    height: 55px;
    border-radius: 4px;
    font-family: "Poppins";
    display: flex;
    padding: 14px 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(19, 171, 78, 1);
    &:hover {
      background-color: rgb(30, 83, 50);
      color: rgba(255, 247, 247);
    }
  }
}
.nav {
  a {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: rgba(51, 51, 51, 1);
    transition: all 0.5s;
    &:hover {
      color: rgb(186, 58, 35);
    }
  }
}
@media screen and (max-width: 1200px) {
  .header__container {
    width: 1150px;

    .logo {
      width: 100px;
      margin-left: -150px;
      margin-right: 40px;
    }
    ul {
      gap: 15px;
    }
    .header-div {
      gap: 25px;
    }
  }
  .header__btn {
    width: 100px;
    height: 55px;
    border-radius: 4px;
    font-family: "Poppins";
    display: flex;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (max-width: 992px) {
  .header__container {
    width: 900px;

    .logo {
      width: 100px;
    }
    ul {
      gap: 30px;
    }
    .header-div {
      gap: 25px;
    }
  }
  .header__btn {
    width: 100px;
    height: 55px;
    border-radius: 4px;
    font-family: "Poppins";
    display: flex;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 500;
  }
}
@media screen and (max-width: 768px) {
  .header__container {
    width: 720px;
    position: relative;
    position: fixed;

    .logo {
      width: 50px;
      margin-left: 0px;
      margin-right: 80px;
    }
    ul {
      gap: 20px;
      display: none;
    }
    .header-div {
      gap: 25px;
      display: none;
      position: absolute;
      display: none;
      width: 100%;
      top: 60px;
      left: 70%;
    }
    .menu {
      display: block;
      position: absolute;
      left: 16px;
      top: 30px;
    }

    .person1 {
      display: block;
    }
  }
  #check1:checked ~ .header-div {
    display: block;
  }
  #check:checked ~ .nav ul {
    display: block;
    position: absolute;
    left: 10px;
    top: 90%;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid green;
    background-color: rgba(243, 251, 246, 1);
    &:hover {
      background-color: rgb(140, 202, 164);
      color: green;
    }
  }
  .header__btn {
    width: 100px;
    height: 55px;
    border-radius: 4px;
    font-family: "Poppins";
    display: flex;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 500;
  }
}

@media screen and (max-width: 576px) {
  .header__container {
    width: 375px;
    position: relative;
    position: fixed;

    .logo {
      width: 50px;
      display: flex;
      margin-left: 70px;
      z-index: 100;
    }
    ul {
      display: none;
    }
    .header-div {
      gap: 25px;
      display: none;
      position: absolute;
      display: none;
      width: 100%;
      top: 60px;
      left: 65%;
    }
    .menu {
      display: block;
      position: absolute;
      left: 16px;
      top: 30px;
    }

    .person1 {
      margin-right: 30px;
      display: block;
    }
  }
  #check1:checked ~ .header-div {
    display: block;
  }
  #check:checked ~ .nav ul {
    display: block;
    position: absolute;
    left: 10px;
    top: 90%;
    border-radius: 10px;
    padding: 5px;
    border: 2px solid green;
    background-color: rgba(243, 251, 246, 1);
    &:hover {
      background-color: rgb(140, 202, 164);
      color: green;
    }
  }
  .header__btn {
    width: 100px;
    height: 55px;
    border-radius: 4px;
    font-family: "Poppins";
    display: flex;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 500;
  }
}
