@import "./header";
@import "./hero";
@import "./fonts.scss";
@import "./normalize.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
#check1 {
  display: none;
}
.person1 {
  display: none;
}
#check {
  display: none;
}
.menu {
  display: none;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 992px) {
  .container {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
  }
}
// @media screen and (max-width: 540px) {
//   .container {
//     max-width: 320px;
//     width: 100%;
//     margin: 0 auto;
//   }
// }
